     * {
            box-sizing: border-box
        }
        
        a,
        abbr,
        acronym,
        address,
        applet,
        article,
        aside,
        audio,
        b,
        big,
        blockquote,
        body,
        canvas,
        caption,
        center,
        cite,
        code,
        dd,
        del,
        details,
        dfn,
        div,
        dl,
        dt,
        em,
        embed,
        fieldset,
        figcaption,
        figure,
        footer,
        form,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        header,
        hgroup,
        html,
        i,
        iframe,
        img,
        ins,
        kbd,
        label,
        legend,
        li,
        mark,
        menu,
        nav,
        object,
        ol,
        output,
        p,
        pre,
        q,
        ruby,
        s,
        samp,
        section,
        small,
        span,
        strike,
        strong,
        sub,
        summary,
        sup,
        table,
        tbody,
        td,
        tfoot,
        th,
        thead,
        time,
        tr,
        tt,
        u,
        ul,
        var,
        video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline
        }
        
        article,
        aside,
        details,
        figcaption,
        figure,
        footer,
        header,
        hgroup,
        menu,
        nav,
        section {
            display: block
        }
        
        body {
            line-height: 1
        }
        
        ol,
        ul {
            list-style: none
        }
        
        blockquote,
        q {
            quotes: none
        }
        
        blockquote:after,
        blockquote:before,
        q:after,
        q:before {
            content: "";
            content: none
        }
        
        table {
            border-collapse: collapse;
            border-spacing: 0
        }
        
        .content-wrapper .content-inner-wrapper {
            max-width: 900px;
            margin: 0 auto;
            padding: 0 15px
        }
        
        .content-wrapper .content-inner-wrapper .row {
            padding: 0
        }
        
        .headline {
            font-weight: 700;
            margin-top: 50px;
            font-size: 10vw
        }
        
        @media (min-width:579px) {
            .headline {
                font-size: 40px
            }
        }
        
        .headline a,
        .headline a:active,
        .headline a:focus,
        .headline a:hover {
            color: inherit
        }
        
        .headline.small {
            font-size: 26px;
            font-weight: 400;
            margin-top: 20px
        }
        
        @media (max-width:767px) {
            .headline.small {
                padding: 0 20px
            }
        }
        
        .article {
            margin: 0 auto;
            font-size: 20px
        }
        
        .article:after,
        .article:before {
            content: " ";
            display: table
        }
        
        .article:after {
            clear: both
        }
        
        .article img {
            max-width: 100%;
            height: auto;
            display: inline-block
        }
        
        .article p {
            text-align: left;
            margin: 0 auto;
            padding: 15px 25px
        }
        
        .article b {
            font-weight: 600
        }
        
        .article ul {
            list-style: none;
            margin: 7px 0 0;
            padding: 0 0 0 25px
        }
        
        .article ul li {
            padding: 3px;
            position: relative
        }
        
        .article ul li:before {
            content: "\00bb";
            position: absolute;
            color: #2f373e;
            font-weight: 700;
            left: -15px
        }
        
        .button,
        button {
            position: relative;
            display: inline-block;
            border-radius: 5px;
            width: auto;
            border: none;
            transition: none;
            text-align: center;
            font-weight: 700;
            padding: 15px 20px 13px 33px;
            line-height: 20px;
            font-size: 16px;
            cursor: pointer!important;
            background-color: #72ac4d;
            -ms-box-shadow: 0 3px 4px rgba(0, 0, 0, .3);
            -o-box-shadow: 0 3px 4px rgba(0, 0, 0, .3);
            box-shadow: 0 3px 4px rgba(0, 0, 0, .3);
            background-color: #83d248;
            background-image: linear-gradient(top, #83d248, #7ec24c);
            filter: progid: DXImageTransform.Microsoft.gradient(startColorStr="#83d248", endColorStr="#7ec24c")
        }
        
        .button,
        .button:hover,
        button,
        button:hover {
            color: #fff;
            text-decoration: none
        }
        
        .button:active,
        .button:focus,
        .button:hover,
        button:active,
        button:focus,
        button:hover {
            -ms-box-shadow: 0 0 4px rgba(0, 0, 0, .3);
            -o-box-shadow: 0 0 4px rgba(0, 0, 0, .3);
            box-shadow: 0 0 4px rgba(0, 0, 0, .3);
            top: 1px;
            left: 1px;
            background-color: #7ec24c;
            background-image: linear-gradient(top, #7ec24c, #83d248);
            filter: progid: DXImageTransform.Microsoft.gradient(startColorStr="#7ec24c", endColorStr="#83d248");
            text-decoration: none
        }
        
        .button:after,
        button:after {
            display: none!important
        }
        
        .button:before,
        button:before {
            content: " ";
            background: url(/images/btn-arrow-right-white.png) no-repeat 0 0 transparent;
            color: #fff;
            position: absolute;
            width: 16px;
            height: 19px;
            left: 10px;
            top: 15px
        }
        
        input {
            border: 1px solid #666;
            border-radius: 5px;
            padding: 9px 5px 9px 10px;
            line-height: 1em;
            font-size: 20px
        }
        
        input a:hover {
            text-decoration: none
        }
        
        * {
            outline: 0
        }
        
        img {
            max-width: 100%;
            height: auto;
            vertical-align: middle;
            -webkit-backface-visibility: hidden
        }
        
        body {
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: transparent;
            overflow-x: hidden;
            overflow-y: scroll;
            color: #2f373e;
            background-color: #fff;
            font-family: Libre Franklin, Helvetica Neue, helvetica, arial, sans-serif
        }
        
        a {
            color: #36f;
            text-decoration: none
        }
        
        a.focus,
        a:active,
        a:hover {
            color: #36f;
            text-decoration: underline
        }
        
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #2f373e;
            line-height: 1;
            margin: 0
        }
        
        h2 {
            border-bottom: 1px solid #2f373e;
            padding: 0 5px 5px;
            margin: 0 0 15px
        }
        
        h3 a {
            padding: 0 5px
        }
        
        h3 a:hover {
            text-decoration: none
        }
        
        .head-menu {
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            right: 0;
            background-color: #2f373e;
            z-index: 1;
            height: 40px;
            text-align: right;
            -ms-box-shadow: 0 6px 20px rgba(0, 0, 0, .2);
            -o-box-shadow: 0 6px 20px rgba(0, 0, 0, .2);
            box-shadow: 0 6px 20px rgba(0, 0, 0, .2)
        }
        
        .head-menu .link {
            max-width: 630px;
            margin: 0 auto;
            padding-top: 20px;
            padding-right: 10px;
            font-size: 14px;
            font-weight: 700
        }
        
        .head-menu .link a {
            color: #f2f2f2
        }
        
        .header {
            padding-top: 40px
        }
        
        .header .header-wrapper {
            text-align: center;
            padding: 25px 0
        }
        
        @media (min-width:579px) {
            .header .header-wrapper {
                padding: 65px 35px 25px
            }
        }
        
        .header .header-wrapper .article {
            margin: 0 auto;
            opacity: 1;
            color: #f3f3f3;
            max-width: 800px;
            font-size: 26px;
            text-align: center
        }
        
        @media (min-width:579px) {
            .header .header-wrapper .article {
                text-align: left
            }
        }
        
        .header .header-wrapper .article .logo {
            display: inline-block;
            height: 120px;
            width: 120px
        }
        
        @media (min-width:579px) {
            .header .header-wrapper .article .logo {
                margin-left: 15%
            }
        }
        
        .header .header-wrapper .article .logo .fixed-on-top {
            position: relative;
            display: inline-block
        }
        
        @media (min-width:579px) {
            .header .header-wrapper .article .logo .fixed-on-top {
                z-index: 2
            }
        }
        
        @media (max-width:578px) {
            .header .header-wrapper .article .logo .fixed-on-top {
                text-align: center;
                position: relative!important;
                top: 0!important;
                left: 0!important
            }
        }
        
        .header .header-wrapper .article .logo .fixed-on-top img {
            display: block;
            transition: width 1.5s, height 1.5s;
            width: 120px;
            height: 120px;
            border-radius: 50%
        }
        
        .header .header-wrapper .article .logo .fixed-on-top.fixed img {
            width: 60px;
            height: 60px
        }
        
        .header .header-wrapper .article .headline-wrapper {
            text-align: center;
            vertical-align: top
        }
        
        .header .header-wrapper .article .headline-wrapper .headline {
            color: #2f373e;
            display: inline-block;
            margin: 30px 5px 30px 0;
            line-height: 1;
            font-size: 9vw
        }
        
        @media (min-width:318px) {
            .header .header-wrapper .article .headline-wrapper .headline {
                margin: 30px 0
            }
        }
        
        @media (min-width:579px) {
            .header .header-wrapper .article .headline-wrapper .headline {
                margin: 30px 0 30px 20px;
                font-size: 40px
            }
        }
        
        .header .header-wrapper .article .headline-wrapper .headline .small {
            display: block;
            font-weight: 400;
            margin-top: 0;
            padding-left: 10px;
            line-height: 40px;
            font-size: 22px;
            text-align: center;
            font-weight: 100
        }
        
        .footer {
            margin-top: 40px;
            background-color: #2f373e;
            min-height: 280px;
            font-size: 20px;
            position: relative;
            -ms-box-shadow: inset 0 18px 45px rgba(0, 0, 0, .2);
            -o-box-shadow: inset 0 18px 45px rgba(0, 0, 0, .2);
            box-shadow: inset 0 18px 45px rgba(0, 0, 0, .2)
        }
        
        .footer .footer-wrapper {
            margin-right: auto;
            margin-left: auto;
            color: #838383;
            padding: 40px 0 20px;
            height: 100%
        }
        
        .footer .footer-wrapper:after,
        .footer .footer-wrapper:before {
            content: " ";
            display: table
        }
        
        .footer .footer-wrapper:after {
            clear: both
        }
        
        @media (min-width:579px) {
            .footer .footer-wrapper {
                width: 580px
            }
        }
        
        @media (min-width:768px) {
            .footer .footer-wrapper {
                width: 720px
            }
        }
        
        @media (min-width:992px) {
            .footer .footer-wrapper {
                width: 940px
            }
        }
        
        .footer .footer-wrapper a,
        .footer .footer-wrapper a:active,
        .footer .footer-wrapper a:focus,
        .footer .footer-wrapper a:hover {
            color: #f2f2f2
        }
        
        .footer .footer-wrapper .travis {
            margin-top: 10px;
            height: 20px
        }
        
        .footer .footer-wrapper .w3c {
            margin-top: 50px;
            text-align: center
        }
        
        .footer .footer-wrapper .w3c a {
            font-size: 14px;
            color: #72ac4d
        }
        
        .footer .footer-wrapper .w3c img {
            display: block;
            margin: 0 auto
        }
        
        .footer .footer-wrapper .text {
            margin-top: 30px;
            padding: 0 5px;
            text-align: center;
            line-height: 130%
        }
        
        .footer .footer-wrapper .github {
            text-align: center
        }
        
        .footer .footer-wrapper .github img {
            display: block;
            margin: 0 auto
        }
        
        .footer .footer-wrapper .github a {
            font-size: 14px;
            color: #72ac4d
        }
        
        .footer .footer-wrapper .checks {
            margin-top: 20px;
            color: #72ac4d;
            text-align: center
        }
        
        .footer .footer-wrapper .checks .item {
            padding: 5px 30px;
            font-size: 14px
        }
        
        @media (max-width:767px) {
            .footer .footer-wrapper .checks .item {
                display: block
            }
        }
        
        .footer .footer-wrapper .checks a {
            font-size: 14px
        }
        
        .footer .footer-wrapper .copyright {
            margin-top: 40px;
            text-align: center;
            font-size: 14px
        }
        
        .footer .footer-wrapper .copyright a {
            font-size: 14px
        }
        /*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT
Copyright (c) 2015 Daniel Eden
*/
        
        body {
            -webkit-backface-visibility: hidden
        }
        
        .animated {
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both
        }
        
        .animated.infinite {
            animation-iteration-count: infinite
        }
        
        .animated.hinge {
            -webkit-animation-duration: 2s;
            animation-duration: 2s
        }
        
        .animated.bounceIn,
        .animated.bounceOut,
        .animated.flipOutX,
        .animated.flipOutY {
            -webkit-animation-duration: .75s;
            animation-duration: .75s
        }
        
        @-webkit-keyframes a {
            0%,
            20%,
            50%,
            80%,
            to {
                -webkit-transform: translateY(0)
            }
            40% {
                -webkit-transform: translateY(-30px)
            }
            60% {
                -webkit-transform: translateY(-15px)
            }
        }
        
        @keyframes a {
            0%,
            20%,
            50%,
            80%,
            to {
                transform: translateY(0)
            }
            40% {
                transform: translateY(-30px)
            }
            60% {
                transform: translateY(-15px)
            }
        }
        
        .bounce {
            -webkit-animation-name: a;
            animation-name: a
        }
        
        @-webkit-keyframes b {
            0%,
            50%,
            to {
                opacity: 1
            }
            25%,
            75% {
                opacity: 0
            }
        }
        
        @keyframes b {
            0%,
            50%,
            to {
                opacity: 1
            }
            25%,
            75% {
                opacity: 0
            }
        }
        
        .flash {
            -webkit-animation-name: b;
            animation-name: b
        }
        
        @-webkit-keyframes c {
            0% {
                -webkit-transform: scale(1)
            }
            50% {
                -webkit-transform: scale(1.1)
            }
            to {
                -webkit-transform: scale(1)
            }
        }
        
        @keyframes c {
            0% {
                transform: scale(1)
            }
            50% {
                transform: scale(1.1)
            }
            to {
                transform: scale(1)
            }
        }
        
        .pulse {
            -webkit-animation-name: c;
            animation-name: c
        }
        
        @-webkit-keyframes d {
            0%,
            to {
                -webkit-transform: translateX(0)
            }
            10%,
            30%,
            50%,
            70%,
            90% {
                -webkit-transform: translateX(-10px)
            }
            20%,
            40%,
            60%,
            80% {
                -webkit-transform: translateX(10px)
            }
        }
        
        @keyframes d {
            0%,
            to {
                transform: translateX(0)
            }
            10%,
            30%,
            50%,
            70%,
            90% {
                transform: translateX(-10px)
            }
            20%,
            40%,
            60%,
            80% {
                transform: translateX(10px)
            }
        }
        
        .shake {
            -webkit-animation-name: d;
            animation-name: d
        }
        
        @-webkit-keyframes e {
            20%,
            40%,
            60%,
            80%,
            to {
                -webkit-transform-origin: top center
            }
            20% {
                -webkit-transform: rotate(15deg)
            }
            40% {
                -webkit-transform: rotate(-10deg)
            }
            60% {
                -webkit-transform: rotate(5deg)
            }
            80% {
                -webkit-transform: rotate(-5deg)
            }
            to {
                -webkit-transform: rotate(0)
            }
        }
        
        @keyframes e {
            20% {
                transform: rotate(15deg)
            }
            40% {
                transform: rotate(-10deg)
            }
            60% {
                transform: rotate(5deg)
            }
            80% {
                transform: rotate(-5deg)
            }
            to {
                transform: rotate(0)
            }
        }
        
        .swing {
            -webkit-transform-origin: top center;
            transform-origin: top center;
            -webkit-animation-name: e;
            animation-name: e
        }
        
        @-webkit-keyframes f {
            20%,
            40%,
            60%,
            80%,
            to {
                -webkit-transform-origin: top center
            }
            20% {
                -webkit-transform: rotate(-15deg)
            }
            40% {
                -webkit-transform: rotate(10deg)
            }
            60% {
                -webkit-transform: rotate(-5deg)
            }
            80% {
                -webkit-transform: rotate(5deg)
            }
            to {
                -webkit-transform: rotate(0)
            }
        }
        
        @keyframes f {
            20% {
                transform: rotate(-15deg)
            }
            40% {
                transform: rotate(10deg)
            }
            60% {
                transform: rotate(-5deg)
            }
            80% {
                transform: rotate(5deg)
            }
            to {
                transform: rotate(0)
            }
        }
        
        .swingReverse {
            -webkit-transform-origin: top center;
            transform-origin: top center;
            -webkit-animation-name: f;
            animation-name: f
        }
        
        @-webkit-keyframes g {
            0% {
                -webkit-transform: skewX(9deg)
            }
            10% {
                -webkit-transform: skewX(-8deg)
            }
            20% {
                -webkit-transform: skewX(7deg)
            }
            30% {
                -webkit-transform: skewX(-6deg)
            }
            40% {
                -webkit-transform: skewX(5deg)
            }
            50% {
                -webkit-transform: skewX(-4deg)
            }
            60% {
                -webkit-transform: skewX(3deg)
            }
            70% {
                -webkit-transform: skewX(-2deg)
            }
            80% {
                -webkit-transform: skewX(1deg)
            }
            90% {
                -webkit-transform: skewX(0)
            }
            to {
                -webkit-transform: skewX(0)
            }
        }
        
        @keyframes g {
            0% {
                transform: skewX(9deg)
            }
            10% {
                transform: skewX(-8deg)
            }
            20% {
                transform: skewX(7deg)
            }
            30% {
                transform: skewX(-6deg)
            }
            40% {
                transform: skewX(5deg)
            }
            50% {
                transform: skewX(-4deg)
            }
            60% {
                transform: skewX(3deg)
            }
            70% {
                transform: skewX(-2deg)
            }
            80% {
                transform: skewX(1deg)
            }
            90% {
                transform: skewX(0)
            }
            to {
                transform: skewX(0)
            }
        }
        
        .wiggle {
            -webkit-animation-name: g;
            animation-name: g;
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in
        }
        
        @-webkit-keyframes h {
            0% {
                -webkit-transform: translateX(0)
            }
            15% {
                -webkit-transform: translateX(-25%) rotate(-5deg)
            }
            30% {
                -webkit-transform: translateX(20%) rotate(3deg)
            }
            45% {
                -webkit-transform: translateX(-15%) rotate(-3deg)
            }
            60% {
                -webkit-transform: translateX(10%) rotate(2deg)
            }
            75% {
                -webkit-transform: translateX(-5%) rotate(-1deg)
            }
            to {
                -webkit-transform: translateX(0)
            }
        }
        
        @keyframes h {
            0% {
                transform: translateX(0)
            }
            15% {
                transform: translateX(-25%) rotate(-5deg)
            }
            30% {
                transform: translateX(20%) rotate(3deg)
            }
            45% {
                transform: translateX(-15%) rotate(-3deg)
            }
            60% {
                transform: translateX(10%) rotate(2deg)
            }
            75% {
                transform: translateX(-5%) rotate(-1deg)
            }
            to {
                transform: translateX(0)
            }
        }
        
        .wobble {
            -webkit-animation-name: h;
            animation-name: h
        }
        
        @-webkit-keyframes i {
            0% {
                -webkit-transform: scale(1)
            }
            10%,
            20% {
                -webkit-transform: scale(.9) rotate(-3deg)
            }
            30%,
            50%,
            70%,
            90% {
                -webkit-transform: scale(1.1) rotate(3deg)
            }
            40%,
            60%,
            80% {
                -webkit-transform: scale(1.1) rotate(-3deg)
            }
            to {
                -webkit-transform: scale(1) rotate(0)
            }
        }
        
        @keyframes i {
            0% {
                transform: scale(1)
            }
            10%,
            20% {
                transform: scale(.9) rotate(-3deg)
            }
            30%,
            50%,
            70%,
            90% {
                transform: scale(1.1) rotate(3deg)
            }
            40%,
            60%,
            80% {
                transform: scale(1.1) rotate(-3deg)
            }
            to {
                transform: scale(1) rotate(0)
            }
        }
        
        .tada {
            -webkit-animation-name: i;
            animation-name: i
        }
        
        @keyframes j {
            0% {
                transform: scaleX(1)
            }
            30% {
                transform: scale3d(1.25, .75, 1)
            }
            40% {
                transform: scale3d(.75, 1.25, 1)
            }
            50% {
                transform: scale3d(1.15, .85, 1)
            }
            65% {
                transform: scale3d(.95, 1.05, 1)
            }
            75% {
                transform: scale3d(1.05, .95, 1)
            }
            to {
                transform: scaleX(1)
            }
        }
        
        @-webkit-keyframes j {
            0% {
                -webkit-transform: scaleX(1)
            }
            30% {
                -webkit-transform: scale3d(1.25, .75, 1)
            }
            40% {
                -webkit-transform: scale3d(.75, 1.25, 1)
            }
            50% {
                -webkit-transform: scale3d(1.15, .85, 1)
            }
            65% {
                -webkit-transform: scale3d(.95, 1.05, 1)
            }
            75% {
                -webkit-transform: scale3d(1.05, .95, 1)
            }
            to {
                -webkit-transform: scaleX(1)
            }
        }
        
        .rubberBand {
            -webkit-animation-name: j;
            animation-name: j
        }
        
        @-webkit-keyframes k {
            0% {
                opacity: 0;
                -webkit-transform: scale(.3)
            }
            50% {
                opacity: 1;
                -webkit-transform: scale(1.05)
            }
            70% {
                -webkit-transform: scale(.9)
            }
            to {
                -webkit-transform: scale(1)
            }
        }
        
        @keyframes k {
            0% {
                opacity: 0;
                transform: scale(.3)
            }
            50% {
                opacity: 1;
                transform: scale(1.05)
            }
            70% {
                transform: scale(.9)
            }
            to {
                transform: scale(1)
            }
        }
        
        .bounceIn {
            -webkit-animation-name: k;
            animation-name: k
        }
        
        @-webkit-keyframes l {
            0% {
                opacity: 0;
                -webkit-transform: translateY(-2000px)
            }
            60% {
                opacity: 1;
                -webkit-transform: translateY(30px)
            }
            80% {
                -webkit-transform: translateY(-10px)
            }
            to {
                -webkit-transform: translateY(0)
            }
        }
        
        @keyframes l {
            0% {
                opacity: 0;
                transform: translateY(-2000px)
            }
            60% {
                opacity: 1;
                transform: translateY(30px)
            }
            80% {
                transform: translateY(-10px)
            }
            to {
                transform: translateY(0)
            }
        }
        
        .bounceInDown {
            -webkit-animation-name: l;
            animation-name: l
        }
        
        @-webkit-keyframes m {
            0% {
                opacity: 0;
                -webkit-transform: translateX(-2000px)
            }
            60% {
                opacity: 1;
                -webkit-transform: translateX(30px)
            }
            80% {
                -webkit-transform: translateX(-10px)
            }
            to {
                -webkit-transform: translateX(0)
            }
        }
        
        @keyframes m {
            0% {
                opacity: 0;
                transform: translateX(-2000px)
            }
            60% {
                opacity: 1;
                transform: translateX(30px)
            }
            80% {
                transform: translateX(-10px)
            }
            to {
                transform: translateX(0)
            }
        }
        
        .bounceInLeft {
            -webkit-animation-name: m;
            animation-name: m
        }
        
        @-webkit-keyframes n {
            0% {
                opacity: 0;
                -webkit-transform: translateX(2000px)
            }
            60% {
                opacity: 1;
                -webkit-transform: translateX(-30px)
            }
            80% {
                -webkit-transform: translateX(10px)
            }
            to {
                -webkit-transform: translateX(0)
            }
        }
        
        @keyframes n {
            0% {
                opacity: 0;
                transform: translateX(2000px)
            }
            60% {
                opacity: 1;
                transform: translateX(-30px)
            }
            80% {
                transform: translateX(10px)
            }
            to {
                transform: translateX(0)
            }
        }
        
        .bounceInRight {
            -webkit-animation-name: n;
            animation-name: n
        }
        
        @-webkit-keyframes o {
            0% {
                opacity: 0;
                -webkit-transform: translateY(2000px)
            }
            60% {
                opacity: 1;
                -webkit-transform: translateY(-30px)
            }
            80% {
                -webkit-transform: translateY(10px)
            }
            to {
                -webkit-transform: translateY(0)
            }
        }
        
        @keyframes o {
            0% {
                opacity: 0;
                transform: translateY(2000px)
            }
            60% {
                opacity: 1;
                transform: translateY(-30px)
            }
            80% {
                transform: translateY(10px)
            }
            to {
                transform: translateY(0)
            }
        }
        
        .bounceInUp {
            -webkit-animation-name: o;
            animation-name: o
        }
        
        @-webkit-keyframes p {
            0% {
                -webkit-transform: scale(1)
            }
            25% {
                -webkit-transform: scale(.95)
            }
            50% {
                opacity: 1;
                -webkit-transform: scale(1.1)
            }
            to {
                opacity: 0;
                -webkit-transform: scale(.3)
            }
        }
        
        @keyframes p {
            0% {
                transform: scale(1)
            }
            25% {
                transform: scale(.95)
            }
            50% {
                opacity: 1;
                transform: scale(1.1)
            }
            to {
                opacity: 0;
                transform: scale(.3)
            }
        }
        
        .bounceOut {
            -webkit-animation-name: p;
            animation-name: p
        }
        
        @-webkit-keyframes q {
            0% {
                -webkit-transform: translateY(0)
            }
            20% {
                opacity: 1;
                -webkit-transform: translateY(-20px)
            }
            to {
                opacity: 0;
                -webkit-transform: translateY(2000px)
            }
        }
        
        @keyframes q {
            0% {
                transform: translateY(0)
            }
            20% {
                opacity: 1;
                transform: translateY(-20px)
            }
            to {
                opacity: 0;
                transform: translateY(2000px)
            }
        }
        
        .bounceOutDown {
            -webkit-animation-name: q;
            animation-name: q
        }
        
        @-webkit-keyframes r {
            0% {
                -webkit-transform: translateX(0)
            }
            20% {
                opacity: 1;
                -webkit-transform: translateX(20px)
            }
            to {
                opacity: 0;
                -webkit-transform: translateX(-2000px)
            }
        }
        
        @keyframes r {
            0% {
                transform: translateX(0)
            }
            20% {
                opacity: 1;
                transform: translateX(20px)
            }
            to {
                opacity: 0;
                transform: translateX(-2000px)
            }
        }
        
        .bounceOutLeft {
            -webkit-animation-name: r;
            animation-name: r
        }
        
        @-webkit-keyframes s {
            0% {
                -webkit-transform: translateX(0)
            }
            20% {
                opacity: 1;
                -webkit-transform: translateX(-20px)
            }
            to {
                opacity: 0;
                -webkit-transform: translateX(2000px)
            }
        }
        
        @keyframes s {
            0% {
                transform: translateX(0)
            }
            20% {
                opacity: 1;
                transform: translateX(-20px)
            }
            to {
                opacity: 0;
                transform: translateX(2000px)
            }
        }
        
        .bounceOutRight {
            -webkit-animation-name: s;
            animation-name: s
        }
        
        @-webkit-keyframes t {
            0% {
                -webkit-transform: translateY(0)
            }
            20% {
                opacity: 1;
                -webkit-transform: translateY(20px)
            }
            to {
                opacity: 0;
                -webkit-transform: translateY(-2000px)
            }
        }
        
        @keyframes t {
            0% {
                transform: translateY(0)
            }
            20% {
                opacity: 1;
                transform: translateY(20px)
            }
            to {
                opacity: 0;
                transform: translateY(-2000px)
            }
        }
        
        .bounceOutUp {
            -webkit-animation-name: t;
            animation-name: t
        }
        
        .flex-viewport input.without-spinner::-webkit-inner-spin-button,
        .flex-viewport input.without-spinner::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0
        }
        
        .flex-viewport .slide {
            text-align: center
        }
        
        .flex-viewport .slide .answers .answer {
            display: inline-block;
            vertical-align: top;
           /* float: left;*/
            cursor: pointer
        }
        
        .flex-viewport .slide .answers .answer>* {
            cursor: pointer
        }
        
        .flex-viewport .slide .answers .answer .inner-answer {
            display: block
        }
        
       /* .flex-viewport .slide .answers input {
            display: none
        }*/
        
        .flex-viewport .slide.answer-count-1 .answer {
            width: 100%
        }
        
        .flex-viewport .slide.answer-count-2 .answer {
            width: 50%
        }
        
        .flex-viewport .slide.answer-count-3 .answer {
            width: 33.33%
        }
        
        .flex-viewport .slide.answer-count-4 .answer {
            width: 25%
        }
        
        .formslider-wrapper {
            position: relative;
            max-width: 800px;
            margin: 70px auto 0
        }
        
        .formslider-wrapper.loading .slide,
        .formslider-wrapper:after {
            opacity: 0;
            transition: opacity .2s linear
        }
        
        .formslider-wrapper.loading:after {
            display: inline-block;
            position: absolute;
            content: "...loading";
            opacity: 1;
            left: 50%;
            top: 40%
        }
        
        .formslider-wrapper .slide {
            padding-bottom: 10px;
            text-align: center;
            min-height: 330px
        }
        
        @media (min-width:579px) {
            .formslider-wrapper .slide {
                min-height: 250px
            }
        }
        
        .formslider-wrapper .slide .headline {
            display: inline-block;
            line-height: 1.3em;
            color: #030000;
            margin: 0 auto;
            font-weight: 500;
            text-align: center;
            font-size: 20px;
            padding: 10px 5px 0
        }
        
        @media (min-width:579px) {
            .formslider-wrapper .slide .headline {
                display: block
            }
        }
        
        .formslider-wrapper .slide .headline b {
            font-weight: 700
        }
        
        @media (min-width:318px) {
            .formslider-wrapper .slide .headline {
                font-size: 24px;
                padding: 10px 0
            }
        }
        
        @media (min-width:579px) {
            .formslider-wrapper .slide .headline {
                font-size: 32px;
                padding: 15px 10px 10px 15px
            }
        }
        
        .formslider-wrapper .slide .sub-headline {
            text-align: center;
            color: #666;
            padding: 0 0 20px;
            font-size: 16px;
            line-height: 20px
        }
        
        .formslider-wrapper .slide-role-question .answers {
            margin: 0 auto;
            text-align: center;
            padding: 0 5px
        }
        
        .formslider-wrapper .slide-role-question .answers:after,
        .formslider-wrapper .slide-role-question .answers:before {
            content: " ";
            display: table
        }
        
        .formslider-wrapper .slide-role-question .answers:after {
            clear: both
        }
        
        @media (min-width:318px) {
            .formslider-wrapper .slide-role-question .answers {
                padding: 0
            }
        }
        
        .formslider-wrapper .slide-role-question .answers .answer {
            margin: 0 auto;
            padding: 10px
        }
        
        .formslider-wrapper .slide-role-question .answers .answer .inner-answer {
            transition: all .3s ease-out;
            box-shadow: 0 7px 6px -6px #999, 0 0 25px -7px rgba(0, 0, 0, .38);
            border: 2px solid #ddd;
            border-radius: 5px;
            overflow: hidden;
            padding: 10px 10px 0
        }
        
        .formslider-wrapper .slide-role-question .answers .answer .inner-answer:hover {
            -webkit-transform: scale(1.04);
            -khtml-transform: scale(1.04);
            transform: scale(1.04);
            box-shadow: 0 22px 15px -15px #bbb
        }
        
        .formslider-wrapper .slide-role-question .answers .answer .inner-answer:active {
            -webkit-transform: scale(.95);
            -khtml-transform: scale(.95);
            transform: scale(.95)
        }
        
        @media (min-width:579px) {
            .formslider-wrapper .slide-role-question .answers .answer .inner-answer {
                max-width: 200px
            }
        }
        
        .formslider-wrapper .slide-role-question .answers .answer .image img {
            cursor: pointer;
            max-width: 100%;
            width: auto;
            max-height: 140px
        }
        
        .formslider-wrapper .slide-role-question .answers .answer .text {
            cursor: pointer;
            text-align: center;
            padding: 10px 0 7px;
            margin: 0 -10px;
            color: #000;
            background-color: #f3f3f3;
            font-size: 4vw;
            letter-spacing: -1px
        }
        
        @media (min-width:318px) {
            .formslider-wrapper .slide-role-question .answers .answer .text {
                font-size: 17px
            }
        }
        
        .formslider-wrapper .slide-role-question .answers .answer.selected .inner-answer,
        .formslider-wrapper .slide-role-question .answers .answer:hover .inner-answer {
            border-color: #7ec24c
        }
        
        .formslider-wrapper .slide-role-question .answers .answer.selected .inner-answer .text,
        .formslider-wrapper .slide-role-question .answers .answer:hover .inner-answer .text {
            background-color: #7ec24c;
            color: #fff
        }
        
        .formslider-wrapper .slide-role-question .answers .answer input {
            display: none
        }
        
        .formslider-wrapper .slide-role-question.answer-count-4 .answers {
            max-width: 800px
        }
        
        .formslider-wrapper .slide-role-question.answer-count-4 .answer {
            float: left;
            width: 50%;
            position: relative;
            min-height: 1px;
            padding: 10px
        }
        
        @media (min-width:579px) {
            .formslider-wrapper .slide-role-question.answer-count-4 .answer {
                float: left;
                width: 25%
            }
        }
        
        .formslider-wrapper .slide-role-question.answer-count-3 .answers {
            max-width: 550px
        }
        
        .formslider-wrapper .slide-role-question.answer-count-3 .answer {
            float: left;
            width: 50%;
            position: relative;
            min-height: 1px
        }
        
        @media (min-width:579px) {
            .formslider-wrapper .slide-role-question.answer-count-3 .answer {
                float: left;
                width: 33.33333%
            }
        }
        
        @media (max-width:767px) {
            .formslider-wrapper .slide-role-question.answer-count-3 .answer:last-child {
                float: none;
                margin: 0 auto;
                display: inline-block
            }
            .formslider-wrapper .slide-role-question.answer-count-3 .answer:last-child .headline {
                height: auto!important
            }
        }
        
        .formslider-wrapper .slide-role-question.answer-count-2 .answer {
            position: relative;
            min-height: 1px
        }
        
        @media (min-width:579px) {
            .formslider-wrapper .slide-role-question.answer-count-2 .answer {
                float: left;
                width: 50%
            }
        }
        
        .formslider-wrapper .slide-role-question.answer-count-1 .answer {
            position: relative;
            min-height: 1px
        }
        
        @media (min-width:579px) {
            .formslider-wrapper .slide-role-question.answer-count-1 .answer {
                float: left;
                width: 100%
            }
        }
        
        .formslider-wrapper .slide-role-question.slide-number-0 .headline {
            display: inline-block;
            position: relative
        }
        
        .formslider-wrapper .slide-role-question.slide-number-0 .headline:before {
            display: block;
            position: absolute;
            left: -40px;
            top: -15px;
            width: 50px;
            height: 60px;
            background: url(/images/formslider/v1/question-arrow-right-green.png) 0 no-repeat;
            background-size: 40px;
            content: " "
        }
        
        @media (min-width:579px) {
            .formslider-wrapper .slide-role-question.slide-number-0 .headline:before {
                background-size: 50px;
                left: -40px;
                top: -8px
            }
        }
        
        @media (min-width:768px) {
            .formslider-wrapper .slide-role-zipcode {
                min-height: 330px
            }
        }
        
        .formslider-wrapper .slide-role-zipcode .zipcode-image {
            padding-top: 20px;
            float: left;
            width: 100%;
            position: relative;
            min-height: 1px;
            text-align: center
        }
        
        @media (min-width:579px) {
            .formslider-wrapper .slide-role-zipcode .zipcode-image {
                float: left;
                width: 50%;
                text-align: right;
                padding-right: 50px
            }
        }
        
        .formslider-wrapper .slide-role-zipcode .zipcode-image img {
            max-height: 70px
        }
        
        @media (min-width:579px) {
            .formslider-wrapper .slide-role-zipcode .zipcode-image img {
                max-height: 200px
            }
        }
        
        .formslider-wrapper .slide-role-zipcode .zipcode-input {
            float: left;
            width: 100%;
            position: relative;
            min-height: 1px;
            display: inline-block;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 30px
        }
        
        @media (min-width:579px) {
            .formslider-wrapper .slide-role-zipcode .zipcode-input {
                float: left;
                width: 50%;
                text-align: left
            }
        }
        
        .formslider-wrapper .slide-role-zipcode .zipcode-input label.label {
            display: block;
            font-size: 20px;
            vertical-align: top;
            margin-top: 16px;
            line-height: 33px
        }
        
        .formslider-wrapper .slide-role-zipcode .zipcode-input input {
            width: 140px;
            text-align: left;
            letter-spacing: 1px;
            padding-bottom: 10px
        }
        
        .formslider-wrapper .slide-role-zipcode .zipcode-input .button-wrapper {
            text-align: center
        }
        
        @media (min-width:579px) {
            .formslider-wrapper .slide-role-zipcode .zipcode-input .button-wrapper {
                text-align: left
            }
        }
        
        .formslider-wrapper .slide-role-zipcode .zipcode-input .button-wrapper .next-button {
            margin: 10px;
            width: 140px;
            font-size: 20px
        }
        
        @media (min-width:579px) {
            .formslider-wrapper .slide-role-zipcode .zipcode-input .button-wrapper .next-button {
                margin: 10px 10px 10px 0
            }
        }
        
        @media (min-width:768px) {
            .formslider-wrapper .slide-role-loader {
                min-height: 330px
            }
        }
        
        .formslider-wrapper .slide-role-loader .loader-image {
            text-align: center;
            margin-top: 20px
        }
        
        @media (min-width:579px) {
            .formslider-wrapper .slide-role-loader .loader-image {
                margin-top: 20px;
                margin-bottom: 20px
            }
        }
        
        @media (max-width:578px) {
            .formslider-wrapper .slide-role-loader .loader-image img {
                max-height: 70px
            }
        }
        
        .formslider-wrapper .slide-role-loader .loader-finish-text {
            text-align: center;
            color: #666;
            padding: 0 0 20px;
            font-size: 16px;
            line-height: 20px
        }
        
        @media (min-width:768px) {
            .formslider-wrapper .slide-role-contact {
                min-height: 330px
            }
        }
        
        .formslider-wrapper .slide-role-contact .contact-wrapper {
            margin: 0 auto;
            text-align: center;
            max-width: 900px
        }
        
        .formslider-wrapper .slide-role-contact .contact-wrapper:after,
        .formslider-wrapper .slide-role-contact .contact-wrapper:before {
            content: " ";
            display: table
        }
        
        .formslider-wrapper .slide-role-contact .contact-wrapper:after {
            clear: both
        }
        
        .formslider-wrapper .slide-role-contact .contact-wrapper .contact-form {
            float: left;
            width: 100%;
            position: relative;
            min-height: 1px;
            margin: 0 0 5px;
            padding: 5px
        }
        
        @media (min-width:579px) {
            .formslider-wrapper .slide-role-contact .contact-wrapper .contact-form {
                float: left;
                width: 54.16667%;
                padding: 0 0 0 30px;
                margin: 0 auto 5px
            }
        }
        
        .formslider-wrapper .slide-role-contact .contact-wrapper .contact-form .row {
            padding: 0 0 5px
        }
        
        .formslider-wrapper .slide-role-contact .contact-wrapper .contact-form .row label {
            width: 31%;
            display: inline-block
        }
        
        .formslider-wrapper .slide-role-contact .contact-wrapper .contact-form .row label.error {
            display: none!important
        }
        
        .formslider-wrapper .slide-role-contact .contact-wrapper .contact-form .row input {
            width: 69%
        }
        
        .formslider-wrapper .slide-role-contact .contact-wrapper .contact-form .row input:-moz-placeholder,
        .formslider-wrapper .slide-role-contact .contact-wrapper .contact-form .row input::-moz-placeholder {
            font-weight: 100
        }
        
        .formslider-wrapper .slide-role-contact .contact-wrapper .contact-form .row input::-webkit-input-placeholder {
            font-weight: 100
        }
        
        .formslider-wrapper .slide-role-contact .contact-wrapper .contact-form .row input:-ms-input-placeholder {
            font-weight: 100
        }
        
        .formslider-wrapper .slide-role-contact .contact-wrapper .contact-form .row.with-2 input {
            width: 33.5%
        }
        
        .formslider-wrapper .slide-role-contact .contact-wrapper .contact-form .row.with-2 input:first-child {
            margin-right: 1%
        }
        
        .formslider-wrapper .slide-role-contact .contact-wrapper .contact-form .button-row {
            text-align: right;
            padding: 15px 0
        }
        
        .formslider-wrapper .slide-role-contact .contact-wrapper .contact-form .button-row .next-button {
            width: 70%
        }
        
        .formslider-wrapper .slide-role-contact .contact-wrapper .trust {
            float: left;
            width: 100%;
            position: relative;
            min-height: 1px
        }
        
        @media (min-width:579px) {
            .formslider-wrapper .slide-role-contact .contact-wrapper .trust {
                float: left;
                width: 45.83333%;
                padding: 0 20px 0 10px
            }
        }
        
        .formslider-wrapper .slide-role-contact .contact-wrapper .trust .checks {
            display: none;
            list-style-type: none;
            padding-left: 5px;
            padding-bottom: 15px
        }
        
        @media (min-width:579px) {
            .formslider-wrapper .slide-role-contact .contact-wrapper .trust .checks {
                display: block;
                padding-left: 10px
            }
        }
        
        .formslider-wrapper .slide-role-contact .contact-wrapper .trust .checks li {
            text-align: left;
            background: url(/images/formslider/v1/check-green.png) no-repeat 0;
            background-size: 20px;
            display: inline-block;
            font-size: 2.4vw;
            padding: 0 0 4px 20px;
            color: #666
        }
        
        @media (min-width:579px) {
            .formslider-wrapper .slide-role-contact .contact-wrapper .trust .checks li {
                color: #404040;
                padding: 0 0 4px 25px;
                font-size: 16px;
                display: block
            }
        }
        
        .formslider-wrapper .slide-role-contact .contact-wrapper .trust .person {
            background-color: #fff;
            border: 1px solid #eee;
            padding: 5px 15px 5px 0
        }
        
        .formslider-wrapper .slide-role-contact .contact-wrapper .trust .person:after,
        .formslider-wrapper .slide-role-contact .contact-wrapper .trust .person:before {
            content: " ";
            display: table
        }
        
        .formslider-wrapper .slide-role-contact .contact-wrapper .trust .person:after {
            clear: both
        }
        
        @media (min-width:579px) {
            .formslider-wrapper .slide-role-contact .contact-wrapper .trust .person {
                padding: 10px 15px 5px 0;
                border-radius: 3px;
                box-shadow: 0 7px 6px -6px #999
            }
            .formslider-wrapper .slide-role-contact .contact-wrapper .trust .person:hover {
                background-color: #fafafa;
                box-shadow: 0 12px 9px -9px #999;
                transition: all .2s ease-in-out 0s
            }
        }
        
        .formslider-wrapper .slide-role-contact .contact-wrapper .trust .person .image {
            padding: 10px;
            position: relative;
            float: left;
            width: 33.33333%;
            min-height: 1px
        }
        
        @media (min-width:579px) {
            .formslider-wrapper .slide-role-contact .contact-wrapper .trust .person .image {
                padding: 0 10px
            }
        }
        
        .formslider-wrapper .slide-role-contact .contact-wrapper .trust .person .image img {
            border-radius: 50%
        }
        
        .formslider-wrapper .slide-role-contact .contact-wrapper .trust .person .right {
            position: relative;
            float: left;
            width: 66.66667%;
            min-height: 1px;
            text-align: left
        }
        
        .formslider-wrapper .slide-role-contact .contact-wrapper .trust .person .right .headline {
            font-size: 16px;
            font-weight: 600;
            line-height: 120%;
            padding-bottom: 15px
        }
        
        @media (min-width:318px) {
            .formslider-wrapper .slide-role-contact .contact-wrapper .trust .person .right .headline {
                padding-top: 15px
            }
        }
        
        @media (min-width:579px) {
            .formslider-wrapper .slide-role-contact .contact-wrapper .trust .person .right .headline {
                padding-bottom: 5px;
                padding-top: 0
            }
        }
        
        .formslider-wrapper .slide-role-contact .contact-wrapper .trust .person .right .text {
            max-width: 400px;
            font-size: 11px;
            line-height: 12px;
            text-align: justify
        }
        
        .formslider-wrapper .slide-role-contact .contact-wrapper .trust .person .right .name {
            max-width: 400px;
            padding-top: 2px;
            font-size: 11px;
            font-style: italic;
            color: #666;
            text-align: right
        }
        
        @media (min-width:768px) {
            .formslider-wrapper .slide-role-confirmation {
                min-height: 330px
            }
        }
        
        .formslider-wrapper .slide-role-confirmation .confirmation-image {
            text-align: center;
            margin-top: 40px
        }
        
        @media (min-width:579px) {
            .formslider-wrapper .slide-role-confirmation .confirmation-image {
                margin-top: 50px
            }
        }
        
        .formslider-wrapper .slide-role-confirmation .confirmation-image img {
            max-height: 50px
        }
        
        @media (min-width:579px) {
            .formslider-wrapper .slide-role-confirmation .confirmation-image img {
                max-height: 100px
            }
        }
        
        .formslider-wrapper label.error {
            display: block;
            text-align: center;
            padding: 10px;
            font-weight: 700;
            color: #fe676c;
            font-style: italic;
            font-size: 14px
        }
        
        @media (min-width:579px) {
            .formslider-wrapper label.error {
                display: block;
                text-align: left
            }
        }
        
        .formslider-wrapper input.error {
            background-color: #fee0e1;
            border-color: #fe676c
        }
        
        .formslider-wrapper .next-button {
            position: relative;
            display: inline-block;
            border-radius: 5px;
            width: auto;
            border: none;
            transition: none;
            text-align: center;
            font-weight: 700;
            color: #fff;
            padding: 15px 20px 13px 33px;
            line-height: 20px;
            font-size: 16px;
            cursor: pointer!important;
            background-color: #72ac4d;
            -ms-box-shadow: 0 3px 4px rgba(0, 0, 0, .3);
            -o-box-shadow: 0 3px 4px rgba(0, 0, 0, .3);
            box-shadow: 0 3px 4px rgba(0, 0, 0, .3);
            background-color: #83d248;
            background-image: linear-gradient(top, #83d248, #7ec24c);
            filter: progid: DXImageTransform.Microsoft.gradient(startColorStr="#83d248", endColorStr="#7ec24c");
            text-decoration: none
        }
        
        .formslider-wrapper .next-button:hover {
            color: #fff;
            text-decoration: none
        }
        
        .formslider-wrapper .next-button:active,
        .formslider-wrapper .next-button:focus,
        .formslider-wrapper .next-button:hover {
            -ms-box-shadow: 0 0 4px rgba(0, 0, 0, .3);
            -o-box-shadow: 0 0 4px rgba(0, 0, 0, .3);
            box-shadow: 0 0 4px rgba(0, 0, 0, .3);
            top: 1px;
            left: 1px;
            background-color: #7ec24c;
            background-image: linear-gradient(top, #7ec24c, #83d248);
            filter: progid: DXImageTransform.Microsoft.gradient(startColorStr="#7ec24c", endColorStr="#83d248");
            text-decoration: none
        }
        
        .formslider-wrapper .next-button:after {
            display: none!important
        }
        
        .formslider-wrapper .next-button:before {
            content: " ";
            background: url(/images/btn-arrow-right-white.png) no-repeat 0 0 transparent;
            color: #fff;
            position: absolute;
            width: 16px;
            height: 19px;
            left: 10px;
            top: 15px
        }
        
        .progressbar-wrapper {
            max-width: 800px;
            opacity: 1;
            border-radius: 5px;
            margin: 0 10px;
            padding: 0 20px 10px;
            transition: all .3s ease-out
        }
        
        @media (min-width:318px) {
            .progressbar-wrapper {
                margin: 0 20px;
                padding: 0 20px 20px
            }
        }
        
        @media (min-width:579px) {
            .progressbar-wrapper {
                margin: 10px auto 0
            }
        }
        
        .progressbar-wrapper.loading {
            transition: width 0 linear!important;
            opacity: 0
        }
        
        .progressbar-wrapper .progress-text {
            text-align: center;
            color: #b2b2b8;
            font-size: 14px;
            font-weight: 700;
            padding-bottom: 5px
        }
        
        .progressbar-wrapper .progress-bar {
            margin-bottom: 10px;
            height: 15px;
            border: 1px solid #fbf6e9;
            border-radius: 7px;
            background-color: #d2d5d5;
            background-image: linear-gradient(top, #d2d5d5, #e1e4e4);
            filter: progid: DXImageTransform.Microsoft.gradient(startColorStr="#d2d5d5", endColorStr="#e1e4e4")
        }
        
        .progressbar-wrapper .progress-bar .progress {
            transition: width .8s ease-out;
            border-radius: 7px;
            height: 12px;
            min-width: 1%!important;
            background-color: #7ec24c;
            background-image: linear-gradient(top, #7ec24c, #61ac2a);
            filter: progid: DXImageTransform.Microsoft.gradient(startColorStr="#7ec24c", endColorStr="#61ac2a")
        }
        
        .teaser {
            text-align: center;
            font-size: 22px
        }
        
        i {
            font-style: italic;
            color: #999
        }
        
        .article {
            opacity: 0
        }
        
        .article.documentation .image {
            max-width: 100px;
            float: left;
            margin: 3px 20px 20px 0
        }
        
        .article.documentation ul {
            float: left;
            margin-top: 0
        }
        
        .article.contact .image {
            max-width: 100px;
            float: left;
            margin: 0 20px 20px 0
        }
        
        .article.contact p {
            margin-top: 30px
        }
        
        .article.contact ul {
            clear: both;
            margin-left: 30px
        }
        
        .article.features .row:after,
        .article.features .row:before {
            content: " ";
            display: table
        }
        
        .article.features .row:after {
            clear: both
        }
        
        .article.features ul {
            float: left;
            width: 100%;
            position: relative;
            min-height: 1px;
            margin-bottom: 15px
        }
        
        @media (min-width:579px) {
            .article.features ul {
                float: left;
                width: 33.33333%
            }
        }
        
        .article.features ul li {
            background: url(/images/formslider/v1/check-green.png) no-repeat 0;
            padding: 0 0 5px 30px
        }
        
        .article.features ul li:before {
            display: none
        }

        .sub_headline{
            margin-bottom: 20px !important;
        }

.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1em;
    max-width: 400px;
    width: calc(100% - 2em);
    vertical-align: top;
}

.input__field {
    position: relative;
    display: block;
    float: right;
    padding: 0.8em;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #aaa;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-appearance: none; 
}

.input__field:focus {
    outline: none;
}

.input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: #6a7989;
    font-weight: bold;
    font-size: 70.25%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input__label-content {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
}

.graphic {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
}

.icon {
    color: #ddd;
    font-size: 150%;
}

/* Hideo */
.input--hideo {
    overflow: hidden;
    background: #fff;
    border: 0.1px solid #dadada;
}

.input__field--hideo {
    padding: 0.85em 0.85em 0.85em 3em;
    width: 100%;
    background: transparent;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.input__label--hideo {
    position: absolute;
    padding: 1.25em 0 0;
    width: 4em;
    height: 100%;
}

.input__label--hideo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 4em;
    height: 100%;
    background: #899dda;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.icon--hideo {
    color: #fff;
    -webkit-transform: scale3d(1, 1, 1); /* Needed for Chrome bug */
    transform: scale3d(1, 1, 1);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.input__label-content--hideo {
    position: absolute;
    top: 100%;
}

.input__field--hideo:focus {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.input__field--hideo:focus + .input__label--hideo::before {
    -webkit-transform: scale3d(0.8, 1, 1);
    transform: scale3d(0.8, 1, 1);
}

.input__field--hideo:focus + .input__label--hideo .icon--hideo {
    -webkit-transform: scale3d(0.6, 0.6, 1);
    transform: scale3d(0.6, 0.6, 1);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #e4dbdb;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #e4dbdb;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #e4dbdb;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.y-button {
    background-color: #fdc844;
    border: 0;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .05em;
    padding: .77em 1em;
    -webkit-appearance: none;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
    font-size: 100%;
    font-family: inherit;
    max-width: 100%;
    }
    .text-btn{


    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: #6a7989;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
  
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  
    border-radius: 50px;
    border: 3px solid #fff;
    color: #fff;
    overflow: hidden;

    }

    .icon {
    color: #ddd;
    font-size: 200%;
}

#headerwrap {
    background-color: rgba(255, 255, 255, .95);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    text-align: center;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    position: fixed;
}

#header {
    position: relative;
    width: auto;
    max-width: none;
    padding: 0 28px;
}

.clearfix:before, .clearfix:after {
    content: '';
    display: table;
}

.logo-wrap {
    display: inline-block;
    position: relative;
    z-index: 1;
}

#site-logo {
    margin: 0;
    font-weight: 300;
    line-height: 1em;
    font-size: 3em;
    text-transform: uppercase;
    display: inline-block;
    -webkit-transition: padding .2s linear;
    -moz-transition: padding .2s linear;
    transition: padding .2s linear;
}

#site-logo a {
    text-decoration: none;
}

#site-logo a span {
    display: block;
    padding: .6em 0;
}

#headerwrap a {
    color: #000;
}

a {
    text-decoration: none;
    outline: 0;
    color: #b78711;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
}

a {
    background-color: transparent;
}

#site-description {
    background-color: rgba(240, 190, 91, 1);
    color: #fff;
    display: inline-block;
    font-size: .9em;
    line-height: 130%;
    letter-spacing: -.02em;
    min-width: 180px;
    text-align: center;
    margin: 10px 0 0;
    padding: .5em .8em;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}

#site-description:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-color: inherit;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -6px;
    margin-bottom: -8px;
    pointer-events: none;
}

.top-icon-wrap {
    position: absolute;
    right: 10px;
    margin: 0;
    margin-right: .5em;
    margin-bottom: .6em;
    bottom: 0;
}

.icon-menu {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    list-style: none;
}

.icon-menu li {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
}

#headerwrap a {
    color: #000;
}

.icon-menu a {
    display: inline-block;
    text-decoration: none;
    padding: 1.375em .5em;
    position: relative;
    line-height: normal;
}

.icon-menu i {
    font-size: 2em;
    -webkit-transition: font-size 1s;
    -moz-transition: font-size 1s;
    transition: font-size 1s;
}

[class^="ti-"], [class*=" ti-"] {
    font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ti-shopping-cart:before {
    content: "\e60d";
}

.icon-menu .icon-menu-count {
    -webkit-animation: zoomIn .3s ease;
    animation: zoomIn .3s ease;
}

.icon-menu .icon-menu-count {
    min-width: 9px;
    min-height: 9px;
    line-height: 9px;
    padding: 4px;
    border-radius: 100%;
    background-color: #dcaa2e;
    font-family: 'Libre Franklin';
    font-weight: 300;
    display: inline-block;
    margin-left: -7px;
    color: #fff;
    text-align: center;
}

.icon-menu a .tooltip {
    margin-top: 10px;
}

.icon-menu a .tooltip {
    background-color: #000;
    color: #fff;
    display: inline-block;
    font-size: .95em;
    line-height: 1.3em;
    padding: .5em 1.1em;
    position: absolute;
    top: 100%;
    left: 50%;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    z-index: 1;
}

.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    filter: alpha(opacity=0);
    opacity: 0;
    line-break: auto;
}

.icon-menu a .tooltip:before {
    content: '';
    display: block;
    border: 5px solid transparent;
    border-bottom-color: #000;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


#footerwrap {
    font-size: .95em;
    line-height: 1.7em;
    clear: both;
}

.footer-block #footer {
    text-align: center;
}

#footer {
    position: relative;
}

.footer-column-wrap {
    clear: both;
}

.footer-block .footer-logo-wrap, .footer-block .footer-widgets-wrap {
    float: none;
    clear: both;
    width: auto;
}

.footer-block .footer-text-outer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.footer-text-outer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
}

.footer-block .back-top, .footer-block .footer-text {
    display: block;
}

.footer-text {
    font-size: 1.3em;
    display: inline-block;
    vertical-align: middle;
    opacity: .7;
}

.footer-text .one, .footer-text .two {
    display: inline;
    vertical-align: middle;
}

