/* thumbnail code */

.thumbnail {
    -webkit-transition: border .2s ease-in-out ;
    -o-transition: border .2s ease-in-out ;
    transition: border .2s ease-in-out ;
    transition: all .3s ease-out ;
    box-shadow: 0 7px 6px -6px #999, 0 0 25px -7px rgba(0, 0, 0, .38) ;
    border: 2px solid #ddd;
    border-radius: 5px; 

    cursor: -webkit-grab; 
    cursor: grab;
}

.thumbnail:hover {
  border:4px solid #0c92ec;
}

.thumbnail:visited {
  border:4px solid #0c92ec;
}

.thumbnail:focus-within {
  border:4px solid #0c92ec;
}

.thumbnail:hover > a > img   {
    transition: all .3s ease-out;
    box-shadow: 0 7px 6px -6px #999, 0 0 25px -7px rgba(0, 0, 0, .38);
    border: 2px solid #ddd;
    border-radius: 5px;
}

.thumbnail:visited > a > img   {
  transition: all .3s ease-out;
  box-shadow: 0 7px 6px -6px #999, 0 0 25px -7px rgba(0, 0, 0, .38);
  border: 2px solid #ddd;
  border-radius: 5px;
}

.thumbnail:hover .caption {
    transition: all .3s ease-out;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #0c92ec;
    color: #fff;
}


.thumbnail:visited .caption {
  transition: all .3s ease-out;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #0c92ec;
  color: #fff;
}

a{
    text-decoration: none;
}


#logoimagecss {
    height: 40px;
    margin-top: 10px; 
    margin-bottom: 10px;
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 300px) and (max-width: 700px) { 
    #logoimagecss {
      height: 40px;
      margin-top: 10px; 
      margin-bottom: 10px;
    }

    
.thumbnail {
  border:4px solid #0c92ec;
}



.thumbnail > a > img   {
    transition: all .3s ease-out;
    box-shadow: 0 7px 6px -6px #999, 0 0 25px -7px rgba(0, 0, 0, .38);
    border: 2px solid #ddd;
    border-radius: 5px;
}


.thumbnail .caption {
  transition: all .3s ease-out;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #0c92ec;
  color: #fff;
}
}


/* more button css */
p.morebutton {
  font-size: 2em;
  margin-top: 30%;
}

/* otp css */
.center_div{
  margin: 0 auto;
  width:80% /* value of your choice which suits your alignment */
}

.otp-input-field{
  width: 60%;
  margin: auto;
}



/*date piker code*/
.pignose-calendar-wrapper.pignose-calendar-wrapper-active {
  font-size: 13px!important;
  margin-top: -242px!important;
}

.pignose-calendar .icon-arrow-left:before {
  content: '<' !important;
}

.pignose-calendar .icon-arrow-right:before {
  content: '>' !important;
}

/* google auto search */

span.pac-icon.pac-icon-marker {
  display: none;
}

.pac-item {
  padding-top: 10px;
  padding-left: 16px;
  padding-bottom: 10px;
}
span.pac-item-query {
  font-size: calc(0.6em + 1vw) !important;
}

.pac-matched {
  font-weight: 700  !important;
  color: #228fca !important; 
}

/* continue shopping code */


.continueshop{
  background: #337ab7;
  color:white;
}


/* box image change */
/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
  .caption p {
      font-size:8px !important;
   }
   .btn-icon-only {
    font-size: 0;
    padding: 23px 22px;
  }
  .btn-icon-only:before {
    font-size: 22px;
    line-height: 49px;  
  }
}

 
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

  h2#text-title {
    color:darkblue;
    font-size: 2.5em;
  }

  .caption p {
    font-size:8px !important;
    max-height:5px;
    overflow-wrap: break-word;
  }

 
  .content{
    font-size:100%;
  }

  p.morebutton {
    font-size: 1em;
  }

  .btn-icon-only {
    font-size: 0;
    padding: 18px 11px;
    margin: 0px;
   }

   .btn-icon-only:before {
    font-size: 14px;
    line-height: 39px;
    }

  .pignose-calendar-wrapper.pignose-calendar-wrapper-active {
    font-size: 11px!important;
    margin-top: -239px!important;
 }

}
 
.back-button {
  font-size: 30px;
  display: block;
  float: left;
  padding-top: 8px;
}

/* Small Devices, Tablets */
/*
@media only screen and (min-width : 768px) {
  .caption p {
    font-size:9px !important;
  }
  .btn-icon-only {
    font-size: 0;
    padding: 23px 22px;
  }
  .btn-icon-only:before {
    font-size: 22px;
    line-height: 49px;  
  }
}
*/

/* text of element  */

h2#text-title {
  color:darkblue;
  font-size: 2.5em;
}